<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artists</title>
</head>
<body>
<app-navbar></app-navbar>
<div class="container">
  <a routerLink="/artistForm" class="btn btn-success" style="float: right">Add new artist</a>
  <table class="table table-striped table-hover">
    <thead style="background-color: black;color: white">
    <td>#</td>
    <td>Artist Name</td>
    <td>Actions</td>
    </thead>
    <tbody>
    <tr *ngFor="let artist of artists">
      <td>{{artist.artistId}}</td>
      <td>{{artist.artistName}}</td>
      <td>
        <a [routerLink]="['/artistForm',artist.artistId]" class="btn btn-primary">Update</a>
        <a (click)="deleteArtistById(artist.artistId)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
